/* Write your CSS code here */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg-container {
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  color: #00e7ff;
  font-family: 'Roboto';
  margin-top: 5%;
  font-size: 36px;
}
.img-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/cryptocurrency-bg.png');
  background-size: cover;
  height: 24vh;
}
.box-container {
  border: 5px solid #00e7ff;
  margin-top: 2%;
  width: 75vw;
  height: 52vh;
}
.type-container {
  background-color: #092e33;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'Roboto';
  list-style: none;
}
.text-container {
  display: flex;
  margin-right: 8%;
}
.type-el {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 2%;
}
.heading-el {
  margin-left: 36px;
}
.inner-heading {
  margin-right: 30%;
}
.list-prop {
  list-style: none;
}
.list-el {
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'Roboto';
  margin-top: 16px;
}
.logo {
  height: 50px;
  margin-right: 16px;
  margin-left: 0;
}
.para {
  font-size: 20px;
}
